@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

*{
	margin: 0; 
	padding: 0;
	box-sizing: border-box;
	list-style:none;
	font-family: 'Abel', sans-serif;
}


body{
	background-color: lightgray;
	font-size:16px;
	line-height:22px;
	/*color:white;*/
}

.bold{
	font-weight: 700;
	font-size: 20px;
	text-transform: uppercase;
}

.semi_bold{
	font-weight: 500;
	font-size: 16px;
}


.CV{
	width:800px;
	height: auto;
	margin: 40px auto;
	display: flex;
}

.CV .CV_left{
	width: 350px;
	background:mediumturquoise;
}

.CV .CV_left .CV_profile_img img{
	width: 100%;
	height: 100%;
}

.CV .CV_left .CV_content{
	padding:0 20px ;
	
}

.CV .title{
	margin-bottom: 20px;
}

.CV .CV_social .title {
	margin-top: 20px;
}

.CV .CV_left .bold{
	color: white;
}

.CV .CV_left .CV_info{
	padding:25px 0 ;
	border-bottom: 3px solid white;
}

.CV .CV_left .CV_info:last-child{
	border-bottom:0px;
}


.CV .CV_left .CV_languages{
	padding: 25px 0;
	border-bottom: 3px solid white;
}

.CV .CV_left .CV_languages:last-child{
	border-bottom:0px;
}


.CV .CV_left ul li{
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	position:relative;
}

.CV .CV_left ul li:last-child{
	margin-bottom: 0;
	
}

.CV .CV_left ul li .icon{
	width: 35px;
	height: 35px;
	background:white;
	color:mediumturquoise;
	border-radius:50%;
	margin-right: 15px;
	font-size: 16px;
	position: relative;
}

.CV .icon i{
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
}

.CV .CV_left ul li .data{
	color: white;
	margin-left:10px;
}

.CV .CV_left .CV_languages ul li{
	color: white;
	justify-content: space-between;
}

.CV .CV_left .CV_languages ul li .lang_name{
	width: 25%;
}

.CV .CV_left .CV_languages ul li .lang_progress{
	width: 60%;
	margin: 0 5px;
	height: 5px;
	background: silver;
	position: relative;
}

.CV .CV_left .CV_languages ul li .lang_per{
	width: 15%;
}

.CV .CV_left .CV_languages ul li .lang_progress span{
	position: absolute;
	height:100%;
	top:0;
	left:0;
	background: white;
	
}

.CV .CV_left .CV_social .semi_bold{
	color: white;
	margin-bottom: 4px;
}

.CV .CV_left .CV_social:last-child{
	margin-bottom:15px;
}

.CV .CV_right{
	width: 500px;
	background: white;
	padding: 25px;
}

.CV .CV_right .bold{
	color: mediumturquoise;
}

.CV .CV_right .semi_bold{
	font-weight: 700;
	font-size: 16px;
	color:black
}


.CV .CV_right ul{
	padding-left: 0px;
}

.CV .CV_right ul li{
	position:relative;
}

.CV .CV_right ul li .skill_type{
	margin-bottom: 15px;
	margin-top:15px;
}

.CV .CV_right .CV_aboutme,
.CV .CV_right .CV_education,
.CV .CV_right .CV_skills{
	padding: 25px 0;
	border-bottom: 3px solid black;
}

.CV .CV_right .CV_hobby .title{
	margin-top: 25px;
}


.CV .CV_right .date{
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 15px;
}


.CV .CV_right .title{
	display: flex;
	align-items: center;
	margin-left: 0px;
}

.CV .CV_right i{
	position: relative;
	top: 7px;
	left: 10px;
	transform:translate(-50%,-50%);
	margin-right: 20px;
}

.CV .CV_right .CV_hobby ul{
	display: flex;
	justify-content: space-between;
}

.CV .CV_right .CV_hobby ul li{
	width: 80px;
	height:80px;
	border: 2px solid black;
	border-radius: 50%;
	color: mediumturquoise;
	}
	
.CV .CV_right .CV_hobby ul li i{
	font-size:30px;
	position:relative;
	top: 50%;
	left: 35px;
	transform:translate(-50%,-50%);
}
	
.CV .CV_right .CV_hobby .title{
	margin-bottom:40px;
}

.CV .CV_right .CV_hobby ul li:before{
	content: "";
	position: absolute;
	background: black;
	top: 40px;
	right: -38px;
	width: 38px;
	height: 2px;
}

.CV .CV_right .CV_hobby ul li:last-child:before{
	display:none;
}

.link{
	color:mediumturquoise;
}



	
	
	
	
	
	
	
	